*.asm
*.dll
*.exe
*.o
*.obj
.*.sw?
.deps/
INSTALL
Makefile
Makefile.am
Makefile.in
a.out*
aclocal.m4
actmp.*
ajla
autom4te.cache/
confdefs*
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest*
core
core.*
depcomp
install-sh
missing
mk.log
nohup.out
stamp-h1
